[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Free Games Webapp
Comment=Monitor your device usage
Exec=free-games-webapp.desktop-launch
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Categories=Games;
